@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap'); 

html, body, #root {
    height: 100%;
    margin: 0;

  }

.wrapper {
    max-width: 800px;
    padding: 10px;
    margin: auto;

}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
}

@media (max-width: 700px) {
    .container{
        grid-template-columns: auto;
    }
  }

h1.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  



.flow-measure {
    display: flex;
    align-items: baseline;
    gap: 1em
}



* {
    font-family: "Recursive, system-ui, sans-serif"; 
    line-height: 1.4;

}

.card {
    padding: 20px;
    border-radius: 0.75rem;
    border-width: 2px;
    border-color: rgb(241 245 249);
    border-style: solid;

}

.card h1 {
    margin-top: 0px;
    margin-left: 0px;
    font-weight: 500;
}