@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap'); 

.container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.flow-measure {
    display: flex;
    align-items: baseline;
    gap: 1em
}

.flow-measure > h2 {
    font-size: 5em;
}

* {
    font-family: "Recursive, system-ui, sans-serif"; 
    line-height: 1.4;

}

.card {
    padding: 20px;
    border-radius: 0.75rem;
    border-width: 2px;
    border-color: rgb(241 245 249);
    border-style: solid;

}

.card h1 {
    margin-top: 0px;
    margin-left: 0px;
    font-weight: 500;
}